*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header_part{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 808px;
    width: 1600px;
}  

.header_part h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    color: #FFFFFF;
}
.header_part p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    text-align: right;
    padding-right: 230px;
    padding-top: 24px;
    padding-bottom: 30px;
    color: #FFFFFF;
}
.header_part a{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
    background-color: #fff;
    color: #005FAC;
    border-radius: 5px;
    
    
    
}
.spaces{
    text-align: right;
    
}

/* header part ends and main part start  */

.failure{
    display: flex;
    width: 1000px;
    height: 700px;
    margin: 130px 300px;
}
.failure .image{
    width: 500px;
    height: 700px;

}
.failure .failure_list{
    width: 400px;
    height: 400px;
    padding-top: 240px;
    padding-bottom: 0;
    padding-left: 100px;
}
.failure_list h3{
    font-size: 40px;
    font-weight: 700px;
    line-height: 45px;
}
.failure_list p ul{
    font-size: 16px;
    font-weight: 700px;
    line-height: 26px;
    color: #444343;
}

/* failure parts ends ands plan parts starts */

.plan {
    width: 1140px;
    margin-left: 230px;
    margin-right: 230px;
}
.plan h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
    color: #151414;
}
.plan_items{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    gap: 86px;
}
.item-1 .item-2 .item-3 .item-4 h4{
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: #151414;

}
.item-1 .item-2 .item-3 .item-4 p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #737272;
    line-height: 29px;
} 

/* inspiration starts */
.inspiration{
    width: 1140px;
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 130px;
}
.inspiration h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: center;
    color: #151414;
}
.inspiration p{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #737272;
    line-height: 35px;
}
.person{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}
.subeen{
    width: 50%;
}
.jhankar{
    width: 50%;
}
.subeen img{
    width: 30%;
    border-radius: 5px;
}
.jhankar img{
    width: 30%;
    border-radius: 5px;
    
}
.subeen h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
.subeen p{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #737272;
    line-height: 29px;
}
.jhankar h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 35px;
    text-align: left;
}
.jhankar p{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    color: #737272;
    line-height: 29px;
}
.subeen .button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
    background-color: #005FAC;
    color: #FFFFFF;
    border-radius: 5px;
}
.jhankar .button{
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
    background-color: #005FAC;
    color: #FFFFFF;
    border-radius: 5px;
}

/* gradiant_part starts */

.gradiant_part{
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    background-image: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;

}
.gradiant_part h3{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
}
.gradiant_part a{
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 20px 25px;
    text-decoration: none;
    background-color: #fff;
    color: #005FAC;
    border-radius: 5px;
}
.gradiant_part p{
    padding-left: 60px;
}

/* main_parts ends and footer_part starts */

footer{
    width: 1600px;
    height: 550px;
    background-color:  #151414;
}
.parent{
    display: flex;
}
.future{
    width: 485px;
    height: 315px;
    margin: 130px 230px;
}
.future h3{
    font-size: 40px;
    font-weight: 700px;
    line-height: 53px;
    color: #F8F8F8;
}
.future p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color:  #FFFFFF;
    padding-top: 16px;
    padding-bottom: 24px;
}

.subscription{
    width: 325px;
    height: 200px;
    margin-top: 130px;
    margin-left: 100px;
}
.subscription h4{
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
    color: #FFFFFF;
}
input[type="button"] {
    font-size: 20px;
    font-weight: 600px;
    line-height: 24px;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: #005FAC;
    color: #FFFFFF;
}
input[type="email"] {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    padding: 20px 150px 20px 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: #151415;
    color: #F3F3F3;
    margin-top: 30px;
    margin-bottom: 16px;
}

