*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
.header_part{
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 808px;
    width: 1600px;
}  

.header_part h2{
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    text-align: right;
    padding-top: 216px;
    padding-right: 230px;
    color: #FFFFFF;
}
.header_part p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
    text-align: right;
    padding-right: 230px;
    color: #FFFFFF;
}
.header_part .button{
    
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    text-decoration: none;
    background-color: #fff;
    color: #005FAC;
    border-radius: 5px;
    position: absolute;
    right: 0px;
    
}
.spaces{
    padding-right: 230px;
}

/* header part ends and main part start  */

.failure{
    display: flex;
    width: 1000px;
    height: 700px;
    margin: 130px 300px;
}
.failure .image{
    width: 500px;
    height: 700px;

}
.failure .failure_list{
    width: 400px;
    height: 400px;
    padding-top: 240px;
    padding-bottom: 0;
    padding-left: 100px;
}
.failure_list h3{
    font-size: 40px;
    font-weight: 700px;
    line-height: 45px;
}
.failure_list p ul{
    font-size: 16px;
    font-weight: 700px;
    line-height: 26px;
    color: #444343;
}